{% include '../base.html' %}

{% block addressbook %}

<div class="container-fluid mt-5">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
    >
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
          <div class="">
            <div
              class="list-group list-group-light"
              id="list-tab"
              role="tablist"
            >
              {% if request.user.is_authenticated %}
              <small class="text-secondary mx-5 my-2">Hello, Welcome {{request.user | upper}}</small>
              {% endif %}
            <a
                class="list-group-item list-group-item-action active px-3 border-0"
                id="list-home-list"
                href="{% url 'managemyaccount' %}"
                role="tab"
                aria-controls="list-home"
                >Manage My Acccount</a
              >
              <li class="nav-item ms-5">
                <a class="nav-link" href="{% url 'userprofile' %}">
                  <span data-feather="file" class="align-text-bottom"></span>
                  My Profile
                </a>
              </li>
              <li class="nav-item ms-5">
                <a class="nav-link" href="{% url 'addressbook' %}">
                  <span
                    data-feather="file"
                    class="align-text-bottom mb-5"
                  ></span>
                  My Address book
                </a>
              </li>

              <a
                class="list-group-item list-group-item-action px-3 border-0"
                id="list-messages-list"
                href="{% url 'myorders' %}"
                role="tab"
                aria-controls="list-messages"
                >My Orders</a
              >
              <li class="nav-item ms-5">
                <a class="nav-link" href="{% url 'myreturns' %}">
                  <span data-feather="file" class="align-text-bottom"></span>
                  My Returns
                </a>
              </li>
              <li class="nav-item ms-5">
                <a class="nav-link" href="{% url 'mycancellations' %}">
                  <span data-feather="file" class="align-text-bottom"></span>
                  My Cancellations
                </a>
              </li>
            </div>
          </div>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-5">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-3">Address Book</h5>
            <a herf="" class="link-danger"> <i class="fas fa-plus"></i> Add address</a>
        </div>
      <div class="row">
        <div class="col-sm-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">User Name</h5>
              <p class="card-text">User Number</p>
              <p class="card-text">User Address</p>
              <div class="mb-3">
                  <button type="button" class="btn btn-secondary btn-rounded px-2 py-2"> <small>Tags</small></button>
                  <button type="button" class="btn btn-secondary btn-rounded px-2 py-2"> <small>Tags</small></button>
              </div>
                <div>
                    <a href="#" class="btn btn-primary px-3 py-2"   data-mdb-toggle="modal"
                    data-mdb-target="#exampleModal"
                    data-mdb-whatever="@getbootstrap"
                    >Edit</a>
                </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">User Name</h5>
              <p class="card-text">User Number</p>
              <p class="card-text">User Address</p>
              <div class="mb-3">
                  <button type="button" class="btn btn-secondary btn-rounded px-2 py-2"> <small>Tags</small></button>
                  <button type="button" class="btn btn-secondary btn-rounded px-2 py-2"> <small>Tags</small></button>
              </div>
                <div>
                    <a href="#" class="btn btn-primary px-3 py-2"
                      data-mdb-toggle="modal"
  data-mdb-target="#exampleModal"
  data-mdb-whatever="@getbootstrap">Edit</a>
                </div>
            </div>
          </div>
        </div>

                <div class="col-sm-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">User Name</h5>
              <p class="card-text">User Number</p>
              <p class="card-text">User Address</p>
              <div class="mb-3">
                  <button type="button" class="btn btn-secondary btn-rounded px-2 py-2"> <small>Tags</small></button>
                  <button type="button" class="btn btn-secondary btn-rounded px-2 py-2"> <small>Tags</small></button>
              </div>
                <div>
                                        <a href="#" class="btn btn-primary px-3 py-2"
                      data-mdb-toggle="modal"
  data-mdb-target="#exampleModal"
  data-mdb-whatever="@getbootstrap">Edit</a>
                </div>
            </div>
          </div>
        </div>



        <div class="col-sm-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">User Name</h5>
              <p class="card-text">User Number</p>
              <p class="card-text">User Address</p>
              <div class="mb-3">
                  <button type="button" class="btn btn-secondary btn-rounded px-2 py-2"> <small>Tags</small></button>
                  <button type="button" class="btn btn-secondary btn-rounded px-2 py-2"> <small>Tags</small></button>
              </div>
                <div>
                                        <a href="#" class="btn btn-primary px-3 py-2"
                      data-mdb-toggle="modal"
  data-mdb-target="#exampleModal"
  data-mdb-whatever="@getbootstrap">Edit</a>
                </div>

      </div>
    </main>
  </div>
</div>


<!-- Edit form -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Adress</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">UserName:</label>
            <input type="text" class="form-control" id="recipient-name" />
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Number:</label>
            <input type="text" class="form-control" id="recipient-name" />
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Address:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
            <label class="form-check-label" for="flexCheckDefault">Default Address</label>
            </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
            <label class="form-check-label" for="flexCheckDefault">Home</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">Office</label>
                </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- Cancle modal -->


{% endblock addressbook %}
