{% include '../base.html' %}
{% block userprofile %}

<div class="container-fluid mt-5">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
          <div class="">

            <div class="list-group list-group-light" id="list-tab" role="tablist">
              <small class="text-secondary mx-5 my-2">Welcome User</small>
              <a class="list-group-item list-group-item-action active px-3 border-0" id="list-home-list"
                href="{% url 'managemyaccount' %}" role="tab" aria-controls="list-home">Manage My Acccount</a>
              <li class="nav-item ms-5">
                <a class="nav-link" href="{% url 'userprofile' %}">
                  <span data-feather="file" class="align-text-bottom"></span>
                  My Profile
                </a>
              </li>
              <li class="nav-item ms-5">
                <a class="nav-link" href="{% url 'addressbook' %}">
                  <span data-feather="file" class="align-text-bottom mb-5"></span>
                  My Address book
                </a>
              </li>

              <a class="list-group-item list-group-item-action px-3 border-0" id="list-messages-list"
                href="{% url 'myorders' %}" role="tab" aria-controls="list-messages">My Orders</a>
              <li class="nav-item ms-5">
                <a class="nav-link" href="{% url 'myreturns' %}">
                  <span data-feather="file" class="align-text-bottom"></span>
                  My Returns
                </a>
              </li>
              <li class="nav-item ms-5">
                <a class="nav-link" href="{% url 'mycancellations' %}">
                  <span data-feather="file" class="align-text-bottom"></span>
                  My Cancellations
                </a>
              </li>

            </div>
          </div>
        </ul>

      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-5">
      <div class="card">
        <h5 class="card-header">My Profile</h5>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item px-3">User Name | <a href="" 
              data-mdb-toggle="modal" data-mdb-target="#eidtprofile"
            data-mdb-whatever="@getbootstrap">
              Add </a> : </li>
            <li class="list-group-item px-3">User Email | <a href=""
              data-mdb-toggle="modal" data-mdb-target="#eidtprofile"
            data-mdb-whatever="@getbootstrap">Add </a> : </li>
            <li class="list-group-item px-3">User Number | <a href=""
              data-mdb-toggle="modal" data-mdb-target="#eidtprofile"
            data-mdb-whatever="@getbootstrap">Add </a> : </li>
            <li class="list-group-item px-3">User Birthday | <a href=""
              data-mdb-toggle="modal" data-mdb-target="#eidtprofile"
            data-mdb-whatever="@getbootstrap">Add </a> : </li>
            <li class="list-group-item px-3">User Gender | <a href=""
              data-mdb-toggle="modal" data-mdb-target="#eidtprofile"
            data-mdb-whatever="@getbootstrap">Add </a> : </li>
          </ul>
          <button class="btn btn-primary my-3" data-mdb-toggle="modal" data-mdb-target="#eidtprofile"
            data-mdb-whatever="@getbootstrap">
            Edit Profile
          </button>
          <button class="btn btn-danger my-3"
          data-mdb-toggle="modal" data-mdb-target="#changepassword"
            data-mdb-whatever="@getbootstrap"
          >Change Password</button>
        </div>

      </div>
    </main>
  </div>
</div>







<!-- Change Password -->

<div class="modal fade" id="changepassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Current Password:</label>
            <input type="text" class="form-control" id="recipient-name" />
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">New Password:</label>
            <input type="text" class="form-control" id="recipient-name" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Update</button>
      </div>
    </div>
  </div>
</div>



<!-- Add form -->

<div class="">
  <div class="modal fade modal-fullscreen-sm-down" id="eidtprofile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Details</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">UserName:</label>
              <input type="text" class="form-control" id="recipient-name" />
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Email:</label>
              <input type="text" class="form-control" id="recipient-name" />
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Number:</label>
              <input type="text" class="form-control" id="recipient-name" />
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Birthday:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>

            <div classs="">
              <select class="form-select mb-3" aria-label="Default select example">
                <option selected>Select</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="2">Others</option>
                <div clas value="3">Other</option>
              </select>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault">Default Address</label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
              <label class="form-check-label" for="flexCheckDefault">Home</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock userprofile %}
