{% include 'base.html' %}


<!-- Product Grid -->
{% block category %}

<div class="container my-5">
  <div class="my-5">
    <h1 style="margin-top:6rem;" class="h1 text-center fw-bold text-dark">Products</h1>
    <div class="d-flex justify-content-center align-center">
                            <!--    Mens   -->
      <a class="h5 text-center fw-bold text-dark me-3">{{title.title}}</a>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <!--    For loop here  -->
{% for p in product %}
    <div class="col">
      <div class="card">
        <a href="" class="">
          <img src="/media/{{p.image}}" class="card-img-top" alt="Products"/>
        </a>
        <div class="card-body">
          <h5 class="card-title">{{p.title}}</h5>
          <small class="card-title text-primary">{{p.brand}}</small>
                    <br>
          <small class="card-title ">Cat: {{p.category.title}}</small>
          {% autoescape off %}
          <p class="card-text">{{p.description | truncatewords:10 | striptags}}</p>
          {% endautoescape %}
          <div class="d-flex justify-content-between align-items-center">
            <p class="card-text text-muted"><del>{{p.selling_price}}</del></p>
            <p class="card-text text-warning">{{p.discounted_price}}</p>
          </div>

          <button class="btn btn-danger w-100">Buy Now</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock category %}




{% include 'footer.html' %}
